:root {
  --qc-visual-payment-selection-border-width: 3px;
}

$font-family-sans-serif: var(--qc-open-sans), system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: var(--qc-playfair-display), serif;

$form-label-margin-bottom: 0.25rem;

// $border-radius: 0;
// $border-radius-sm: 0;
// $border-radius-lg: 0;
// $border-radius-xl: 0;
// $border-radius-xxl: 0;

// $form-check-input-border-radius: 0;

$container-padding-x: 3rem;

$focus-ring-opacity: 0.5;
$focus-ring-width: 0.125rem;

$headings-margin-bottom: 0.5rem;