
$section-padding: 3rem;
$section-padding-lg: 4rem;

body {
  overflow-y: scroll; /* Show scrollbars */
  --scrollbar-width: calc(100vw - 100%);
}

.btn { text-transform: uppercase; } 
.btn-primary {
  color: white;
  &:hover, &:focus { color: white; }
}

section {
  position: relative;
  overflow: hidden;
  padding: $section-padding 0;
}

section > div.container {
  position: relative; /* so that if we use a cover image, the content will display on top */
}

section.noPadding > div.container {
  padding-left: 0;
  padding-right: 0;
}

section:nth-of-type(2n) {
  background-color: #eee;
}

section.noPadding {
  padding-top: 0;
  padding-bottom: 0;
}

.p-s { padding: $section-padding }
.py-s { padding-top: $section-padding; padding-bottom: $section-padding; }
.px-s { padding-left: $section-padding; padding-right: $section-padding; }
.pt-s { padding-top: $section-padding; }
.pb-s { padding-bottom: $section-padding; }
.ps-s { padding-left: $section-padding; }
.pe-s { padding-right: $section-padding; }

.m-s { margin: $section-padding }
.my-s { margin-top: $section-padding; margin-bottom: $section-padding; }
.mx-s { margin-left: $section-padding; margin-right: $section-padding; }
.mt-s { margin-top: $section-padding; }
.mb-s { margin-bottom: $section-padding; }
.ms-s { margin-left: $section-padding; }
.me-s { margin-right: $section-padding; }

@include media-breakpoint-up(lg) {
  section {
    padding: $section-padding-lg 0;
  }

  .p-s { padding: $section-padding-lg }
  .py-s { padding-top: $section-padding-lg; padding-bottom: $section-padding-lg; }
  .px-s { padding-left: $section-padding-lg; padding-right: $section-padding-lg; }
  .pt-s { padding-top: $section-padding-lg; }
  .pb-s { padding-bottom: $section-padding-lg; }
  .ps-s { padding-left: $section-padding-lg; }
  .pe-s { padding-right: $section-padding-lg; }

  .m-s { margin: $section-padding-lg }
  .my-s { margin-top: $section-padding-lg; margin-bottom: $section-padding-lg; }
  .mx-s { margin-left: $section-padding-lg; margin-right: $section-padding-lg; }
  .mt-s { margin-top: $section-padding-lg; }
  .mb-s { margin-bottom: $section-padding-lg; }
  .ms-s { margin-left: $section-padding-lg; }
  .me-s { margin-right: $section-padding-lg; }
}

.serif { font-family: $headings-font-family; }

h1, .h1 { font-size: 2.625rem; text-align: center; margin-bottom: 2rem; }
h2, .h2 { font-size: 2rem; }
h3, .h3 { font-size: 1.625rem }
h4, .h4 { font-size: 1.375rem }
